html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #111;
  color: #fff;
  padding: 5px 50px;
}

button {
  border-radius: 4px;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: rgba(66, 210, 33, 0.81);
  text-decoration: none;
}

.logo h1 {
  border: 2px solid rgba(66, 210, 33, 0.81);
  text-align: center;
  padding: 15px;
  border-radius: 50px;
}

.nav-item {
  margin: 5px;
  display: flex;
  align-items: center;
}

.username {
  color: rgba(66, 210, 33);
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.cart {
  display: flex;
  background-color: #111;
  justify-content: right;
  align-items: center;
  padding: 7px 10px;
  border-radius: 3px;
  width: 80px;
  border-color: rgba(66, 210, 33);
}

.fa-solid {
  color: rgba(66, 210, 33);
}

.cart i {
  font-size: 34px;
}

.cart p {
  height: 36px;
  width: 36px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  background-color: rgba(66, 210, 33);
  color: #fff;
}

.cart-button {
  height: 44px;
  width: 120px;
  border: 2px solid;
  border-radius: 49px;
  border-color: rgba(66, 210, 33);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  cursor: pointer;
}

.cart-button:hover {
  border-color: #fff;
  background-color: #fff;
  transition: 0.4s;
}

.cart-container {
  display: none;
  width: 70%;
  margin-bottom: 30px;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#cart-root {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.cart-bar {
  width: 40%;
  border-radius: 5px;
  background-color: #eee;
  margin-left: 20px;
  padding: 15px;
  text-align: center;

  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.cart-head {
  background-color: goldenrod;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;
  display: flex;
  align-items: center;
}

.cart-foot {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: 1px solid #333;
}

.close-btn {
  text-align: right;
}

.cart-close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.cart-close:hover,
.cart-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.cart-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid goldenrod;
  border-radius: 5px;
  padding: 15px;
}

.img-box{
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-images{
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  object-position: center;
}

.cart-bottom{
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}

.cart-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  margin: 10px 10px;
}

.row-img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowimg{
  max-width: 43px;
  max-height: 43px;
  border-radius: 50%;
}

.fa-trash:hover{
  cursor: pointer;
  color: #333;
}

.cart-bottom {
  height: 20px;
}

.payment-button {
  margin: 0;
  width: 130px;
  background-color: goldenrod;
  outline: none;
  height: 41px;
  border-radius: 49px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid goldenrod;
  font-weight: 600;
  font-size: 0.8rem;
}

.payment-button:hover {
  color: goldenrod;
  background-color: #fff;
}

.sign-in-btn {
  margin: 0;
  width: 130px;
  background-color: rgba(66, 210, 33, 0.81);
  outline: none;
  height: 41px;
  border-radius: 49px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid #fff;
  font-weight: 600;
  font-size: 0.8rem;
}

.sign-in-btn:hover {
  color: rgba(66, 210, 33, 0.81);
  background-color: #fff;
}


.nav-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}


.menu-item:hover {
  color: rgba(66, 210, 33, 0.81);
}


.slider {
  background-color: rgba(66, 210, 33, 0.81);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  width: 500vw;
  transition: all 0s ease-in-out;
}

.slider-item {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider-bg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}

.slider-img {
  z-index: 1;
}

.slider-title {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.slider-price {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.249);
  z-index: 1;
}

.buy-button {
  position: absolute;
  top: 76%;
  right: 10%;
  font-size: 23px;
  font-weight: 900;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.852);
  z-index: 1;
  cursor: pointer;
  transition: 0.35s;
}

.buy-button:hover {
  background-color: #fff;
  color: #111;
}

.ingredients-button {
  position: absolute;
  top: 82%;
  right: 10%;
  font-size: 25px;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.852);
  z-index: 1;
  cursor: pointer;
  transition: 0.35s;
}

.ingredients-button:hover {
  background-color: #fff;
  color: #111;
}

.slider-item:nth-child(1) .slider-bg {
  background-color: rgba(45, 94, 185, 0.604);
}
.slider-item:nth-child(2) .slider-bg {
  background-color: rgba(102, 51, 153, 0.836);
}
.slider-item:nth-child(3) .slider-bg {
  background-color: rgba(128, 128, 128, 0.974);
}
.slider-item:nth-child(4) .slider-bg {
  background-color: #369e62;
}
.slider-item:nth-child(5) .slider-bg {
  background-color: rgba(124, 115, 80, 0.538);
}


.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature-icon {
  width: 50px;
  height: 50px;
}

.feature-title {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.feature-desc {
  color: gray;
  width: 50%;
  height: 100px;
}

.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

.payment {
  width: 500px;
  height: 500px;
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  z-index: 3;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.pay-title {
  font-size: 20px;
  color: lightgray;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.pay-input {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.pay-input::placeholder {
  color: rgb(163, 163, 163);
}

.card-icons {
  display: flex;
}

.card-icon {
  margin-right: 10px;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

.pay-button {
  position: absolute;
  height: 40px;
  bottom: -40;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: #369e62;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.35s;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: gray;
  color: #fff;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}

.product-img {
  width: 50%;
}

.product-details {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.product-title {
  font-size: 75px;
  font-weight: 900;
}

.product-desc {
  font-style: 24px;
  color: gray;
}


.product-button {
  float: right;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.966);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.product-button:hover {
  background-color: #fff;
  color: black;
}

.gallery {
  padding: 50px;
  display: flex;
}

.gallery-item {
  flex: 1;
  padding: 50px;
}

.gallery-img {
  width: 100%;
}

.nuance-section {
  display: flex;
}

.ns-item {
  flex: 1;
  background-color: rgba(66, 210, 33, 0.81);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ns-img {
  width: 100%;
  height: 500px;
}

.ns-title {
  font-size: 40px;
}

.ns-button {
  padding: 15px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.ns-button:hover{
  background-color: #111;
  color: #fff;
}

footer {
  display: flex;
}

.footer-left {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.f-menu-title {
  font-size: 16px;
}

.f-list {
  padding: 0;
  list-style: none;
}

.f-list-item {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.footer-right {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.f-input {
  padding: 5px;
}

.f-button {
  padding: 5px;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.f-button:hover {
  background-color: #fff;
  color: #111;
}

.f-icons {
  display: flex;
}

.f-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.f-icon:hover {
  scale: 1.1;
}

.copyright {
  font-weight: 300;
  font-size: 14px;
}


@media screen and (max-height:800px) {
  .buy-button {
    top: 90%;
  }

  .ingredients-button {
    top: 95%;
  }

  .product-title {
    font-size: 50px;
  }
}

@media screen and (max-height:700px) {
  .buy-button {
    top: 250px;
  }

  .ingredients-button {
    top: 300px;
  }

  .product-title {
    font-size: 35px;
  }

  .ns-button {
    padding: 8px;
  }

  .ns-img {
    height: auto;
  }

  .ns-title {
    font-size: 20px;
  }
}

/* Media screen: */

@media screen and (max-width:900px) {
  .ns-img {
    height: auto;
  }

  .ns-title {
    font-size: 20px;
  }

  .gallery {
    padding: 10px;
  }

  .gallery-item {
    padding: 10px;
  }
}

@media screen and (max-width:600px) {
  nav {
    padding: 20px;
  }

  .choose {
    display: none;
  }

  .nav-top {
    flex-wrap: wrap;
  }

  .nav-bottom {
    flex-wrap: wrap;
  }

  .menu-item {
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }

  .username {
    position: absolute;
    top: 0px;
    font-size: 20px;
  }

  .slider {
    clip-path: none;
  }

  .slider-img {
    width: 90%;
  }

  .slider-bg {
    width: 100%;
    height: 100%;
  }

  .slider-title {
    display: none;
  }

  .slider-price {
    top: unset;
    bottom: -50;
    left: 0;
    background-color: lightgrey;
  }

  .buy-button {
    top: unset;
    font-size: 25px;
    right: 0;
  }

  .buy-button:hover {
    color: #fff;
    background-color: #111;
  }

  .ingredients-button {
    top: unset;
    font-size: 25px;
    right: unset;
    left: 0;
  }

  .ingredients-button:hover {
    color: #fff;
    background-color: #111;
  }

  .features {
    flex-direction: column;
  }

  .feature-desc {
    display: none;
  }

  .product {
    height: auto;
    clip-path: none ;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-img {
    width: 80%;
  }

  .product-details {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }

  .product-title {
    font-size: 50px;
    margin: 0;
  }

  .gallery {
    display: none;
  }

  .nuance-section {
    flex-direction: column;
  }

  .ns-item:nth-child(2) {
    padding: 50px;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-left {
    padding: 20px;
    width: 90%;
  }

  .f-menu-title {
    color: grey;
  }

  .footer-right {
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: whitesmoke;
  }

  .payment {
    width: 90%;
    padding: 20px;
  }
}
