<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous">
    </script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"
      rel="./style_authentication.css">
    <link rel="stylesheet" href="../../static/style_authorized.css" th:href="@{style_authorized.css}">
    <link rel="icon" href="../static/assets/img/salad/salad_with_fish.png" th:href="@{/assets/img/salad/salad_with_fish.png}">
    <title>Authorized</title>
  </head>

  <body>
    <div class="success-msg">
        <h3>
          You have successfully logged in.
        </h3>
    </div>
    <script type="text/javascript" src="../../static/script_authorized.js" th:src="@{script_authorized.js}"></script>
  </body>
</html>
